body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #020024;
    background: linear-gradient(168deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 19%, rgba(8, 37, 140, 1) 27%, rgba(0, 212, 255, 1) 82%);
    background-repeat: no-repeat;
}

.DivStely {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #090877;
}

#counterdisplay {
    font-size: 48px;
    margin: 20px 0;
    color: #0648a3;
    font-weight: bold;
}

input[type="number"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #029cda ;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #005fa3;
}
